<div class="container-home">
    <div class="content-home">
        <h1>Lista dos alunos do curso</h1>
        <div class="filter-form">
            <div>
                <label htmlFor="nome">Pesquisar</label>
                <input type="text" id="nome" placeholder='Nome do aluo' />
            </div>
            <div>
                <label htmlFor="nacionalidade">Nacionalidade</label>
                <select name="nacionalidade" id="nacionalidade">
                    <option value="">Todas</option>
                </select>
            </div>
        </div>

    </div>
    <table class="table-content">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Nacionalidade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fabio Aiex</td>
                <td>Masculino</td>
                <td>Brasileiro</td>
                <td>
                    <button>Visualizar</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>